*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.left-nav{
    font-size: 20px;
    font-weight: bold;
    /* padding: 0px 20px; */
}
ul li{
    padding: 15px 0px;
}

.nav-links{
    text-decoration: none;
    color: white;
    transition: 0.6s ease;
    padding: 10px 20px;
    border-radius: 4px;
}
.nav-links:hover{
    background-color: #fff;
    color: #000;
}

.main-div{
    color: black;
    margin: 20px 10px;
}
.company-card{
    margin: 0px 15px;
}
.company-card a{
    display: grid;
    align-items: center;
    justify-content: center;
}
.card-img-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-div img{
    width: auto;
    height: 100px;
}
.company-card-div{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}
.section{
    margin-top: 40px;
    margin-left: 20px;
}
.section-heading{
    font-size: 20px;
    font-weight: bold;
}
.company-name{
    color: black;
    margin-top: 5px;
    text-align: center;
}

.sections{
    display: block;
    /* align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('demo.jpg');
    background-size: cover;
  }